{% extends "app/base.html" %}
{% load static %}
{% block title %}Home{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block content %}

    <fieldset>
        <legend>About us</legend>
        <div class="about-us">
            <div>
                At Deep Statistics, we help businesses <br>unlock their full potential by identifying and addressing profit & loss patterns based on your data before they impact your business.
                <br><br>Our cutting-edge automated statistical analysis and meaningful visualizations provide deep, actionable insights—fast.
                We understand that data is only as valuable as the decisions it enables. That’s why our platform doesn’t just generate reports; it delivers clear, insightful, and practical visualizations that empower teams to make data-driven decisions with confidence.
    <br> <br>
                Why Choose Us?<br>
                Automated & Sophisticated Analysis – No need for manual number-crunching; our AI-driven engine does the heavy lifting.
                Fastest Insights, Real Results – Get meaningful, data-backed insights within days, not weeks.
                <br> <br>
                Get in touch!
            </div>
        </div>
    </fieldset>

    <a href="{% url 'careers' %}">
        <button class="neomorphic-button">Join Us</button>
    </a>

    <a href="{% url 'services' %}">
        <button class="neomorphic-button">Our Services</button>
    </a>

{% endblock %}