{% extends "app/base.html" %}
{% load static %}
{% block title %}Home{% endblock %}

{#{% block styles %}#}
{#    <link rel="stylesheet" href="{% static 'css/demo.css' %}">#}
{#{% endblock %}#}

{% block content %}

            <div id="layout">
        <div id="head">Demo</div>
        <div id="tail">

    <fieldset>
        <legend>Stage 1: Develop full understanding of your data</legend>
        <div class="steps">
            <div class='demo' >
                1. Upload your dataset or connect your data source
                <br><br>
                <img src="{% static 'images/demo/upload.png' %}" alt="">
            </div>
            <div class='demo' >
                2. (Understand your data) See best suited highly crafted visualizations(out of 10,000 visualizations), detailed breakdown of each column of your dataset.
                <br><br>
                <img src="{% static 'images/demo/spiral_optimized.gif' %}" style="width: 25vw;" alt="">
                <br><br>

                <div class="graphs">
                    <img src="{% static 'images/demo/America+homeless+transport.png' %}" alt="">
                    <img src="{% static 'images/demo/donut.png' %}" alt="">
                    <img src="{% static 'images/demo/year.png' %}" alt="">
                    <img src="{% static 'images/demo/location.png' %}" alt="">
                </div>



            </div>


        </div>
        </fieldset>


    <fieldset>
        <legend>Stage 2: anomalies & patterns affecting your business</legend>
        <div class='demo' >
            3. Shows you detect every small anomaly or pattern within your dataset, and any relation of those anomaly with any pattern
            <br><br>
            <div class="pattern">
                <img src="{% static 'images/demo/net.png' %}" style="background: black" alt="">
                <img src="{% static 'images/demo/pattern.png' %}" alt="">
            </div>
        </div>


    </fieldset>



        <fieldset>
            <legend>Stage 3: Ask any business related concerns</legend>
            <div class='demo' >
                4. Ask questions about your dataset in natural language or speak
                <div class="pattern">
                    <img src="{% static 'images/demo/voice.jpg' %}" style="background: black; margin: 10px;" alt="">
                </div>
                <br><br>
            </div>
            <div class='demo' >
                5. In return, you will see a statistically accurate conclusion, and every related visualization backing up that conclusion.
                <div class="pattern">
                    <img src="{% static 'images/demo/pval.png' %}" style="background: black; margin: 10px;" alt="">
                </div>
            </div>


    </fieldset>

    <a href="{% url 'demo' %}">
        <button class="neomorphic-button">Demo - Coming Soon</button>
    </a>

            </div>
    </div>

{% endblock %}


