{% extends "app/base.html" %}
{% load static %}
{% block title %}Home{% endblock %}

{#{% block styles %}#}
{#    <link rel="stylesheet" href="{% static 'css/home.css' %}">#}
{#{% endblock %}#}

{% block content %}

        <div id="layout">
        <div id="head">Announcing</div>
        <div id="tail">
    <fieldset style="border-top: none;">
        <div class="page-1">
            <div class="hero">

                <img src="{% static 'images/art/hero.png' %}" alt="">
                <div class="service">Blazing-Fast, Statistically Significant Insights</div>

                <div class="about">Offering statistically significant analysis, anomaly detection, and pattern recognition for both individuals and businesses data.</div>
                <br><br>

                <div class="powered-by-ai">Enhanced By Artificial Intelligence</div>

                <a href="{% url 'demo' %}">
                    <button class="neomorphic-button">How it works</button>
                </a>

            </div>
        </div>
    </fieldset>
        </div>
        </div>
{% endblock %}

