{% extends "app/base.html" %}
{% load static %}
{% block title %}Home{% endblock %}

{#{% block styles %}#}
{#    <link rel="stylesheet" href="{% static 'css/services.css' %}">#}
{#{% endblock %}#}

{% block content %}
            <div id="layout">
        <div id="head">Services</div>
        <div id="tail">

    <fieldset>
        <div class="service-tiers">
            <a href="{% url 'pricing' %}">
                <div class="services-card item1">
                    <div class="card-header">Deep Data Understanding</div>
                    <div>As A Service</div>
                    <div class="service-explain"><br>Discover the most suitable, highly curated visualizations (selected from 10,000 options) and gain a detailed breakdown of each column in your dataset.</div>
                </div>
            </a>

            <a href="{% url 'pricing' %}">
                <div class="services-card item2">
                    <div class="card-header">Anomaly & Pattern Discovery Report</div>
                    <div>As A Service</div>
                    <div class="service-explain"><br>Helps you identify even the smallest anomalies or patterns in your dataset and uncover their relationships with other patterns.</div>
                </div>
            </a>

            <a href="{% url 'pricing' %}">
                <div class="services-card item2">
                    <div class="card-header">Natural Language Based Insights</div>
                    <div>As A Service</div>
                    <div class="service-explain"><br>Ask questions about your dataset in natural language or through voice, and explore every relevant visualization that supports your decision-making.</div>
                </div>
            </a>


            </div>


    </fieldset>
            </div></div>
{% endblock %}