{% extends "app/base.html" %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
   <fieldset>
        <div style="text-align: center;width: 30vw;font-family: 'Inter', sans-serif; color: white;">
            We provide <br>
            Deep Statistical Analysis As A service of business data, and enable business to query question related to their data written in natural language, and find out every possible visual to answer that question along with answers statistical significance
        </div>
    </fieldset>

    <fieldset>
        <legend>Pricing</legend>
        <div class="pricing">
            <div class="card">
                <div class="card-header price-tier-glow">small</div>
                <div>starting at</div>
                <div class="card-price">59 $/month</div>
                <button class="talk-to-us">TALK TO AN EXPERT</button>
                <ul class="features">
                    <li>upto 25 MB of data upload</li>
                    <li>limited visualization</li>
                    <li>a minute of latency</li>
                    <li>25 queries per hour</li>
                </ul>
            </div>
            <div class="card">
                <div class="card-header price-tier-glow">mid</div>
                <div>starting at</div>
                <div class="card-price">199 $/month</div>
                <button class="talk-to-us">TALK TO AN EXPERT</button>
                <ul class="features">
                    <li>upto 10 GB of data upload</li>
                    <li>few seconds of latency</li>
                    <li>unlimited query per hour</li>
                    <li>connect to your own data source</li>
                    <li>processing limit of 50 GB of data</li>
                    <li>500 queries limit per day</li>
                </ul>
            </div>
            <div class="card">
                <div class="card-header price-tier-glow">large</div>
                <div>starting at</div>
                <div class="card-price">599 $/month</div>
                <button class="talk-to-us">TALK TO AN EXPERT</button>
                <ul class="features">
                    <li>No data upload limitation</li>
                    <li>millisecond latency</li>
                    <li>unlimited queries</li>
                    <li>connect to your own data source upto 10 PB</li>
                </ul>
            </div>
        </div>
    </fieldset>
{% endblock %}