{% extends "app/base.html" %}
{% load static %}
{% block title %}Home{% endblock %}

{#{% block styles %}#}
{#    <link rel="stylesheet" href="{% static 'css/services.css' %}">#}
{#{% endblock %}#}

{% block content %}

    <fieldset>
        <legend>Services</legend>
        <div class="service-tiers">
            <div class="card item1">
                <div class="card-header price-tier-glow">Deep Data Understanding</div>
                <div>As A Service</div>
                <div class="service-explain"><br>See best suited highly crafted visualizations(out of 10,000 visualizations), detailed breakdown of each column of your dataset.</div>
            </div>
            <div class="card item2">
                <div class="card-header price-tier-glow">Anomaly & Pattern Discovery Report</div>
                <div>As A Service</div>
                <div class="service-explain"><br>Shows you detect every small anomaly or pattern within your dataset, and any relation of those anomaly with any pattern

</div>
            </div>
                        <div class="card item3">
                <div class="card-header price-tier-glow">
                    <br>Natual Language Based Automatic Dashboard Creation

                </div>
                            <div>
                                As A Service
                            </div>
                                            <div class="service-explain"><br>Ask questions about your dataset in natural language or speak


</div>

            </div>
        </div>
    </fieldset>
{% endblock %}