.steps{
    display: grid;
    gap: 8vh;
}

.demo-head {
    font-family: Inter, sans-serif;
    font-size: 25px;
}

.demo {
    text-align: center;
    font-family: 'Inter', sans-serif;
    color: white;
    display: grid;
    grid-auto-flow: row;
    place-items: center;
    /*margin: 5px;*/
}

.demo-tutorial {
    display: grid;
    gap: 20px;
    grid-auto-flow: row;
    font-family: "Inter", sans-serif;
    text-align: left;
    width: 42vw;
    font-size: 1em;
}

.demo > img {
    border: 1px solid white;
    width: 35vw;
    border-radius: 5px;
}


.graphs {
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
    border: 1px solid white;
    padding: 5px;
}

.graphs > img {
    display: grid;
    width: 10vw;
    border-radius: 5px;
}

.pattern img {
    /*display: grid;*/
    width: 30vw;
    /*grid-auto-flow: column;*/
    height: 50vh;
}

#spiralChart {
    width: 400px !important;
    height: 400px !important;
    max-width: none !important; /* Prevent parent constraints */
    max-height: none !important;
    display: block;
    margin: 20px auto;
}