.login {
    display: grid;
    place-items: center;
    place-content: center;
    place-self: center;
    text-align: center;
    font-family: 'Uni Sans Heavy Regular', cursive;
    color: #929292;
    /*border: 1px solid #252424;*/
    gap: 15px;
    padding: 50px;
    box-shadow: 0px 0px 120px rgba(80, 82, 91, 0.44);
    border-radius: 50px;

    /*height: 200px; !* Height of the book *!*/
    position: relative;
    place-content: center;
    place-items: center;
    /*border: 1px solid white;*/

}

.custom-form {
    display: grid;
    grid-auto-flow: row;
    gap: 10px;
}

.form-group {
    display: grid;
    grid-auto-flow: row;
    gap: 10px;
}