.service-tiers {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Space between books */
    justify-content: center;
    max-width: 1100px;
}


.service-tiers > .card {
    display: grid;
    place-items: center;
    place-content: center;
    place-self: center;
    text-align: center;
    font-family: 'Uni Sans Heavy Regular', cursive;
    color: #929292;
    /*border: 1px solid #252424;*/
    gap: 15px;
    padding: 50px;
    box-shadow: 0px 0px 120px rgba(80, 82, 91, 0.44);
    border-radius: 50px;

    width: 180px; /* Width of the book */
    /*height: 200px; !* Height of the book *!*/
    position: relative;
}


.service-tiers > .card > .card-header {
    font-size: 1.5rem;
    font-family: 'Uni Sans Heavy Regular', cursive;
    color: white;
}

.service-tiers > .card > .card-price {
    font-size: 1rem;
    font-family: 'Uni Sans Heavy Regular', cursive;
    color: white;
}

.service-tiers > .card > .talk-to-us {
    font-size: 0.8rem;
    color: white;
    background-color: #000000;
    font-family: 'Uni Sans Heavy Regular', cursive;
    padding: 10px 30px 10px 30px;
    border-radius: 50px;
    box-shadow:
            4px 4px 12px rgba(50, 44, 44, 0.78),
            -4px -4px 12px rgba(221, 220, 220, 0.37);
}

.service-tiers > .card > .features {
    font-size: 1rem;
    color: #9d9696;
    background-color: #000000;
    font-family: 'Uni Sans Heavy Regular', cursive;
    text-align: left;
    place-self: flex-start;
}


.price-tier-glow {
    display: grid;
    place-items: center;
    font-family: 'adl', cursive;
    color: white;
    font-size: 0.8rem;
    letter-spacing: 1px;
    background: linear-gradient(45deg, #95cfa7, #0c743e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}