.service-tiers {
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.service-tiers a {
    text-decoration: none;
    flex: 1;
}



.service-explain {
    color: #444647;
}

.service-explain{
    color: #ffffff;
    font-family: Inter, sans-serif;
}

.services-card {
    display: grid;
    place-items: center;
    place-content: center;
    place-self: center;
    text-align: center;
    font-family: 'Uni Sans Heavy Regular', cursive;
    color: #929292;
    /*border: 1px solid #252424;*/
    gap: 15px;
    padding: 50px;
    box-shadow: 0px 0px 120px rgba(80, 82, 91, 0.44);
    border-radius: 50px;

    width: 90%;
    /*height: 200px; !* Height of the book *!*/
    position: relative;
    place-content: center;
    place-items: center;


}

/*.services-card:hover {*/
/*    background: rgb(255, 255, 255);*/
/*}*/

/*.card-header:hover {*/
/*    color: black;*/

/*}*/

/*.services-card:active {*/

/*    border-bottom: 1px solid white;*/
/*    border-right: 1px solid white;*/
/*    border-top: none;*/
/*    border-left: none;*/
/*    box-shadow:*/
/*        inset 4px 4px 8px rgba(30, 29, 29, 0.78),*/
/*        inset -4px -4px 12px rgba(30, 29, 29, 0.78);*/

/*}*/


.services-card > .card-header {
    font-size: 1.2em;
    font-family: 'Uni Sans Heavy Regular', cursive;
    color: white;
}

.services-card > .services-card-price {
    font-size: 1rem;
    font-family: 'Uni Sans Heavy Regular', cursive;
    color: white;
}

.services-card > .talk-to-us {
    font-size: 0.8rem;
    color: white;
    background-color: #000000;
    font-family: 'Uni Sans Heavy Regular', cursive;
    padding: 10px 30px 10px 30px;
    border-radius: 50px;
    box-shadow:
            4px 4px 12px rgba(50, 44, 44, 0.78),
            -4px -4px 12px rgba(221, 220, 220, 0.37);
}

.button-neomorphic {
    text-decoration: none;
    font-size: 1rem;
    color: white;
    background-color: #000000;
    font-family: 'Uni Sans Heavy Regular', cursive;
    padding: 10px 30px 10px 30px;
    margin: 2em;
    border-radius: 50px;
    box-shadow:
            4px 4px 12px rgba(50, 44, 44, 0.78),
            -4px -4px 12px rgba(221, 220, 220, 0.37);
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.button-neomorphic:active {
    text-decoration: none;
    font-size: 1rem;
    color: white;
    background-color: #000000;
    font-family: 'Uni Sans Heavy Regular', cursive;
    padding: 10px 30px 10px 30px;
    margin: 2em;
    border-radius: 50px;
    box-shadow:
            4px 4px 12px rgba(50, 44, 44, 0.78),
            -4px -4px 12px rgba(221, 220, 220, 0.37);

        border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}