.service-tiers {
    display: flex;
    gap: 40px;

}

.service-tiers a {
    text-decoration: none;
    flex: 1;
}



.service-explain {
    color: #444647;
}

.services-card:hover .service-explain{
    color: #ffffff;
}

.services-card {
    /*width: 50vw;*/
    display: grid;
    place-self: center;
    text-align: center;
    font-family: 'Uni Sans Heavy Regular', cursive;
    color: #929292;
    padding: 40px;
    border-radius: 50px;
    /*width: 50vw;*/
    height: 20vh;
    gap: 5px;
    position: relative;
    place-content: space-between;
    place-items: center stretch;

    color: white;
    background-color: #050505;
    font-family: 'Uni Sans Heavy Regular', cursive;




        box-shadow:
            4px 4px 12px #252424,
            -4px -4px 12px #252424;
    border-top: 1px solid white;
    border-left: 1px solid white;


}

/*.services-card:hover {*/
/*    background: rgb(255, 255, 255);*/
/*}*/

/*.card-header:hover {*/
/*    color: black;*/

/*}*/

.services-card:active {

    border-bottom: 1px solid white;
    border-right: 1px solid white;
    border-top: none;
    border-left: none;
    box-shadow:
        inset 4px 4px 8px rgba(30, 29, 29, 0.78),
        inset -4px -4px 12px rgba(30, 29, 29, 0.78);

}


.services-card > .card-header {
    font-size: 1.2em;
    font-family: 'Uni Sans Heavy Regular', cursive;
    color: white;
}

.services-card > .services-card-price {
    font-size: 1rem;
    font-family: 'Uni Sans Heavy Regular', cursive;
    color: white;
}

.services-card > .talk-to-us {
    font-size: 0.8rem;
    color: white;
    background-color: #050505;
    font-family: 'Uni Sans Heavy Regular', cursive;
    padding: 10px 30px 10px 30px;
    border-radius: 50px;
    box-shadow:
            4px 4px 12px rgba(50, 44, 44, 0.78),
            -4px -4px 12px rgba(221, 220, 220, 0.37);
}
