main > fieldset > .service-tiers {
    display: grid;
    gap: 40px; /* Space between books */
    /*max-width: 1200px;*/
    flex-direction: row;
    grid-template-columns: 1fr 1fr; /* First row: Two equal columns */
    grid-template-rows: auto auto;  /* Two rows */
    place-content: stretch;
    place-items: stretch;
    place-self: center;


}

.item3 {
    background: lightgreen;
    grid-column: 1 / span 2; /* Make it span both columns */
    width: 65vw;

}


.service-explain {
    color: #444647;
}

.card:hover .service-explain{
    color: #ffffff;
}

.card {

    display: grid;
    place-self: center;
    text-align: center;
    font-family: 'Uni Sans Heavy Regular', cursive;
    color: #929292;
    padding: 50px;
    border-radius: 50px;
    /*width: 50vw;*/
    /*height: 20vh;*/
    gap: 5px;
    position: relative;
    place-content: center;
    place-items: center;

    color: white;
    background-color: #050505;
    font-family: 'Uni Sans Heavy Regular', cursive;




        box-shadow:
            4px 4px 12px #252424,
            -4px -4px 12px #252424;
    border-top: 1px solid white;
    border-left: 1px solid white;

}

/*.card:hover {*/
/*    background: rgb(255, 255, 255);*/
/*}*/

/*.card-header:hover {*/
/*    color: black;*/

/*}*/

.card:active {

    border-bottom: 1px solid white;
    border-right: 1px solid white;
    border-top: none;
    border-left: none;
    box-shadow:
        inset 4px 4px 8px rgba(30, 29, 29, 0.78),
        inset -4px -4px 12px rgba(30, 29, 29, 0.78);

}


.card > .card-header {
    font-size: 1.2em;
    font-family: 'Uni Sans Heavy Regular', cursive;
    color: white;
}

.card > .card-price {
    font-size: 1rem;
    font-family: 'Uni Sans Heavy Regular', cursive;
    color: white;
}

.card > .talk-to-us {
    font-size: 0.8rem;
    color: white;
    background-color: #050505;
    font-family: 'Uni Sans Heavy Regular', cursive;
    padding: 10px 30px 10px 30px;
    border-radius: 50px;
    box-shadow:
            4px 4px 12px rgba(50, 44, 44, 0.78),
            -4px -4px 12px rgba(221, 220, 220, 0.37);
}

.card > .features {
    font-size: 1rem;
    color: #9d9696;
    background-color: #050505;
    font-family: 'Uni Sans Heavy Regular', cursive;
    text-align: left;
    place-self: flex-start;
}


.price-tier-glow {
    display: grid;
    place-items: center;
    font-family: 'adl', cursive;
    color: white;
    font-size: 16px;
    letter-spacing: 1px;
    background: linear-gradient(45deg, #95cfa7, #0c743e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}