@import url(https://db.onlinewebfonts.com/c/4f6fb2fa3c231278167b36e966718cbb?family=Uni+Sans+Heavy+Regular);
@font-face {
    font-family: 'adl';
    src: url('adelia.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Tourney";
    src: url("https://db.onlinewebfonts.com/t/4bdc5c5c2b7a174ab043093775360d9e.eot");
    src: url("https://db.onlinewebfonts.com/t/4bdc5c5c2b7a174ab043093775360d9e.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/4bdc5c5c2b7a174ab043093775360d9e.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/4bdc5c5c2b7a174ab043093775360d9e.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/4bdc5c5c2b7a174ab043093775360d9e.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/4bdc5c5c2b7a174ab043093775360d9e.svg#Tourney")format("svg");
}



@font-face {
    font-family: "Uni Sans Heavy Regular";
    src: url("https://db.onlinewebfonts.com/t/4f6fb2fa3c231278167b36e966718cbb.eot");
    src: url("https://db.onlinewebfonts.com/t/4f6fb2fa3c231278167b36e966718cbb.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/4f6fb2fa3c231278167b36e966718cbb.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/4f6fb2fa3c231278167b36e966718cbb.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/4f6fb2fa3c231278167b36e966718cbb.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/4f6fb2fa3c231278167b36e966718cbb.svg#Uni Sans Heavy Regular")format("svg");
}

::-webkit-scrollbar {
    display: none;
}

body {
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: grid;
    place-items: center;
    place-content: center;
    background-color: #000000;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    overflow-y: auto; /* Enables vertical scrolling */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

body ::-webkit-scrollbar {
    display: none;
}

body > header,
body > main,
body > footer {
    width: 80vw;
}

header {
    background-color: #000000;
    text-align: center;
    width: 100%;
    display: grid;
    gap: 15px;
    font-family: 'Inter', sans-serif;
    place-content: center;
    place-items: center;
    place-self: center;
}

header > nav {
    width: 70vw;
    display: grid;
    place-items: center;
    place-content: space-between;
    grid-auto-flow: column;
    padding-bottom:5px;
    font-family: 'Tourney', sans-serif;
    border-bottom: 1px solid #252424;


}

header > nav > a {
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
}

.hamburger {
    z-index: 100;
    background: none;
    border: none;
    cursor: pointer;
}

.hamburger .line {
    display: block;
    width: 20px;
    height: 1px;
    background: #ffffff;
    margin: 6px 0;
    transition: all 0.3s ease;
}

.side-panel {
position: fixed;
            left: -100%;
            top: 70px;
            flex-direction: column;
 background-color: rgba(41, 40, 40, 0.2); /* Optional: semi-transparent background */
  backdrop-filter: blur(10px); /* Adjust blur radius as needed */
            width: 100%;
            height: 100vh;
            text-align: center;
            transition: 0.3s ease-in-out;
            padding-top: 40px;
            list-style: none;
            margin: 0;
    z-index: 1001;

}

.profile-panel {
position: fixed;
            right: -100%;
            top: 70px;
            flex-direction: column;
 background-color: rgba(41, 40, 40, 0.2); /* Optional: semi-transparent background */
  backdrop-filter: blur(10px); /* Adjust blur radius as needed */
            width: 100%;
            height: 100vh;
            text-align: center;
            transition: 0.3s ease-in-out;
            padding-top: 40px;
            list-style: none;
            margin: 0;
    z-index: 1001;
}

.side-panel.active {
    left: 0;
}

.profile-panel.active {
    right: 0;
}

.hamburger.active .line:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

.hamburger.active .line:nth-child(2) {
    opacity: 0;
}

.hamburger.active .line:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}

.side-panel ul, .profile-panel ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.side-panel li, .profile-panel li {
    padding: 10px;
}

.side-panel a, .profile-panel a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.1rem;
    font-family: 'Uni Sans Heavy Regular', 'Uni Sans', sans-serif;
}

.profile-container {
    z-index: 100;
    background: none;
    border: none;
    cursor: pointer;
    /*padding: 10px;*/
}

.profile-icon {
    width: 25px;
    height: 25px;
    fill: #ffffff;
    background: #000000;
}



.profile-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    color: white;
    width: 150px;
    display: none;
    border-radius: 5px;
    border: 1px solid #252424;
    background-color: #000000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-dropdown a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.profile-dropdown a:hover {
    background: #575757;
}

/* Show dropdown when active */
.profile-dropdown.active {
    display: block;
}



main {
    display: grid;
    grid-template-columns: 1fr;
    /*margin: 2rem;*/
    place-content: flex-start;
    place-items: center;
    /*margin: 40px;*/
}
main > div {
    color: white;
}


#layout {
    display: grid;
    grid-auto-flow: row;
    place-items: center;
    place-content: flex-start;
    /*height: 100vh;*/
    min-height: 80vh;
    place-self: center;
}

#layout > #head {
        padding: 40px;
    font-weight: bold;
    color: white;
    font-family: 'adl', cursive;
    text-align: center;

}

#tail {
    place-items: center;
    place-self: center;
    place-content: center;
    text-align: center;
}



fieldset {
    border-top: 1px solid #252424;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    text-align: center;
    width: 70vw;
    padding: 40px;
    /*margin-top: 80px;*/
    /*margin-bottom: 80px;*/
    display: grid;
    grid-auto-flow: row;
    place-items: center;
    place-content: center;

}
legend {
    padding: 40px;
    font-weight: bold;
    color: white;
    font-family: 'adl', cursive;
}



footer {
    padding: 10px;
    background-color: #000000;
    text-align: center;
    width: max-content;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: 'Inter', sans-serif;
    align-items: center;
    justify-content: center;
    margin: auto;
}

footer > section {
    display: grid;
    place-items: center;
    place-content: center;
    place-self: center;
    text-align: center;
    grid-auto-flow: column;
    gap: 5px;
}


footer > nav {
    border-top: 1px solid #252424;
    width: 70vw;
    display: grid;
    grid-auto-flow: column;
    place-items: center;
    place-self: center;
    place-content: space-evenly;
    padding: 10px;
    font-family: 'Uni Sans Heavy Regular', cursive;
}
footer > nav > a {
    text-decoration: none;
    font-size: 12px;
    color: #a4a4a4;
}




/*utilities*/

.neomorphic-button {
    font-size: 1rem;
    color: white;
    background-color: #000000;
    font-family: 'Uni Sans Heavy Regular', cursive;
    padding: 10px 30px 10px 30px;
    margin: 2em;
    border-radius: 50px;
    box-shadow:
            4px 4px 12px rgba(50, 44, 44, 0.78),
            -4px -4px 12px rgba(221, 220, 220, 0.37);
}

@media screen and (max-width: 768px) {
body > header,
body > main,
body > footer {
    width: auto;
}

    header > nav {
    width: 100vw;
    display: grid;
    place-items: center;
    place-content: space-between;
    grid-auto-flow: column;
    padding-bottom:5px;
    font-family: 'Tourney', sans-serif;
    border-bottom: 1px solid #252424;
        gap: 25px;



}

    footer > nav {
    border-top: 1px solid #252424;
    width: auto;
    display: grid;
    grid-auto-flow: column;
    place-items: center;
    place-self: center;
    place-content: space-evenly;
    padding: 10px;
    font-family: 'Uni Sans Heavy Regular', cursive;
        gap: 10px;
}


    fieldset {

    width: auto;


}



}

header > nav > div {
    padding-left: 20px;
    padding-right: 20px;
}