.steps{
    display: grid;
    gap: 8vh;
}

.demo {
    text-align: left;
    font-family: 'Inter', sans-serif;
    color: white;
    display: grid;
    grid-auto-flow: row;
    place-items: center;
    margin: 5px;
}

.demo > img {
    border: 1px solid white;
    width: 35vw;
    border-radius: 5px;
}

.demo > .graphs {
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
    border: 1px solid white;
    padding: 5px;
}

.demo > .graphs > img {
    display: grid;
    width: 15vw;
    border-radius: 5px;
}

.pattern img {
    /*display: grid;*/
    width: 30vw;
    /*grid-auto-flow: column;*/
    height: 50vh;
}