@import url(https://db.onlinewebfonts.com/c/4f6fb2fa3c231278167b36e966718cbb?family=Uni+Sans+Heavy+Regular);
@font-face {
    font-family: 'adl';
    src: url('adelia.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Tourney";
    src: url("https://db.onlinewebfonts.com/t/4bdc5c5c2b7a174ab043093775360d9e.eot");
    src: url("https://db.onlinewebfonts.com/t/4bdc5c5c2b7a174ab043093775360d9e.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/4bdc5c5c2b7a174ab043093775360d9e.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/4bdc5c5c2b7a174ab043093775360d9e.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/4bdc5c5c2b7a174ab043093775360d9e.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/4bdc5c5c2b7a174ab043093775360d9e.svg#Tourney")format("svg");
}



@font-face {
    font-family: "Uni Sans Heavy Regular";
    src: url("https://db.onlinewebfonts.com/t/4f6fb2fa3c231278167b36e966718cbb.eot");
    src: url("https://db.onlinewebfonts.com/t/4f6fb2fa3c231278167b36e966718cbb.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/4f6fb2fa3c231278167b36e966718cbb.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/4f6fb2fa3c231278167b36e966718cbb.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/4f6fb2fa3c231278167b36e966718cbb.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/4f6fb2fa3c231278167b36e966718cbb.svg#Uni Sans Heavy Regular")format("svg");
}

::-webkit-scrollbar {
    display: none;
}

body {
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: grid;
    place-items: center;
    place-content: center;
    background-color: #050505;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

body > header,
body > main,
body > footer {
    width: 80vw;
}

header {
    background-color: #050505;
    text-align: center;
    width: 100%;
    display: grid;
    gap: 15px;
    font-family: 'Inter', sans-serif;
    place-content: center;
    place-items: center;
    place-self: center;
}

header > nav {
    width: 70vw;
    display: grid;
    place-items: center;
    place-content: space-between;
    grid-auto-flow: column;
    padding-bottom:5px;
    font-family: 'Tourney', sans-serif;
    border-bottom: 1px solid #252424;

}

header > nav > a {
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
}

.hamburger {
    z-index: 100;
    background: none;
    border: none;
    cursor: pointer;
}

.hamburger .line {
    display: block;
    width: 20px;
    height: 1px;
    background: #ffffff;
    margin: 6px 0;
    transition: all 0.3s ease;
}

.side-panel {
    position: fixed;
    left: 0;
    top: 0;
    width: 15vw;
    height: 100%;
    background: #000000;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    border: 1px solid #252424;
    z-index: 99;
    padding: 60px 20px 20px;
    box-sizing: border-box;
}

.profile-panel {
    position: fixed;
    right: 0;
    top: 0;
    width: 15vw;
    height: 100%;
    background: #000000;
    transform: translateX(+100%);
    transition: transform 0.3s ease;
    border: 1px solid #252424;
    z-index: 99;
    padding: 60px 20px 20px;
    box-sizing: border-box;
}

.side-panel.active {
    transform: translateX(0);
}

.profile-panel.active {
    transform: translateX(0);
}

.hamburger.active .line:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

.hamburger.active .line:nth-child(2) {
    opacity: 0;
}

.hamburger.active .line:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}

.side-panel ul, .profile-panel ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.side-panel li, .profile-panel li {
    padding: 10px;
}

.side-panel a, .profile-panel a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.1rem;
    font-family: 'Uni Sans Heavy Regular', 'Uni Sans', sans-serif;
}

.profile-container {
    z-index: 100;
    background: none;
    border: none;
    cursor: pointer;
    /*padding: 10px;*/
}

.profile-icon {
    width: 25px;
    height: 25px;
    fill: #ffffff;
    background: #050505;
}



.profile-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    color: white;
    width: 150px;
    display: none;
    border-radius: 5px;
    border: 1px solid #252424;
    background-color: #050505;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-dropdown a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.profile-dropdown a:hover {
    background: #575757;
}

/* Show dropdown when active */
.profile-dropdown.active {
    display: block;
}



main {
    display: grid;
    grid-template-columns: 1fr;
    /*margin: 2rem;*/
    place-content: flex-start;
    place-items: center;
    margin: 40px;
}
main > div {
    color: white;
}




fieldset {
    border-top: 1px solid #252424;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    text-align: center;
    width: 70vw;
    padding: 40px;
    /*margin-top: 80px;*/
    /*margin-bottom: 80px;*/
    display: grid;
    grid-auto-flow: row;
    place-items: center;
    place-content: center;


}
legend {
    padding: 40px;
    font-weight: bold;
    color: white;
    font-family: 'adl', cursive;
}


main > fieldset > .pricing {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Space between books */
    justify-content: center;
    max-width: 1100px;
}

main > fieldset > .about-us {
    margin: 30px;
    display: grid;
    place-items: center;
    place-content: center;
    place-self: center;

    grid-auto-flow: row;
    gap: 40px;

    color: white;
    font-family: 'Inter', cursive;
    /*height: 85vh;*/
    width: 30vw;
}

main > fieldset > .pricing > .card {
    display: grid;
    place-items: center;
    place-content: center;
    place-self: center;
    text-align: center;
    font-family: 'Uni Sans Heavy Regular', cursive;
    color: #929292;
    /*border: 1px solid #252424;*/
    gap: 15px;
    padding: 50px;
    box-shadow: 0px 0px 120px rgba(80, 82, 91, 0.44);
    border-radius: 50px;

    width: 180px; /* Width of the book */
    /*height: 200px; !* Height of the book *!*/
    position: relative;
}


main > fieldset > .pricing > .card > .card-header {
    font-size: 1.5rem;
    font-family: 'Uni Sans Heavy Regular', cursive;
    color: white;
}

main > fieldset > .pricing > .card > .card-price {
    font-size: 1rem;
    font-family: 'Uni Sans Heavy Regular', cursive;
    color: white;
}

main > fieldset > .pricing > .card > .talk-to-us {
    font-size: 0.8rem;
    color: white;
    background-color: #050505;
    font-family: 'Uni Sans Heavy Regular', cursive;
    padding: 10px 30px 10px 30px;
    border-radius: 50px;
    box-shadow:
            4px 4px 12px rgba(50, 44, 44, 0.78),
            -4px -4px 12px rgba(221, 220, 220, 0.37);
}

main > fieldset > .pricing > .card > .features {
    font-size: 1rem;
    color: #9d9696;
    background-color: #050505;
    font-family: 'Uni Sans Heavy Regular', cursive;
    text-align: left;
    place-self: flex-start;
}

footer {
    padding: 10px;
    background-color: #050505;
    text-align: center;
    width: max-content;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: 'Inter', sans-serif;
    align-items: center;
    justify-content: center;
    margin: auto;
}

footer > section {
    display: grid;
    place-items: center;
    place-content: center;
    place-self: center;
    text-align: center;
    grid-auto-flow: column;
    gap: 5px;
}


footer > nav {
    border-top: 1px solid #252424;
    width: 70vw;
    display: grid;
    grid-auto-flow: column;
    place-items: center;
    place-self: center;
    place-content: space-evenly;
    padding: 20px;
    font-family: 'Uni Sans Heavy Regular', cursive;
}
footer > nav > a {
    text-decoration: none;
    font-size: .9rem;
    color: #a4a4a4;
}




/*utilities*/

.neomorphic-button {
    font-size: 1rem;
    color: white;
    background-color: #050505;
    font-family: 'Uni Sans Heavy Regular', cursive;
    padding: 10px 30px 10px 30px;
    margin: 1em;
    border-radius: 50px;
    box-shadow:
            4px 4px 12px rgba(50, 44, 44, 0.78),
            -4px -4px 12px rgba(221, 220, 220, 0.37);
}